<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Primeiro Exercício - Lista 2</title>
		
		<!-- Importações do Materialize -->
		<!-- Compiled and minified CSS -->
	  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
	
		<!-- Importação de jQuery (biblioteca javascript) -->
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	  	<!-- Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
		
		<!--Import Google Icon Font-->
     	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     	
     	<!-- Chama jQuery para iniciar o componente 'select' (combobox) 
     		 Referência: http://materializecss.com/forms.html#select-initialization -->
     	<script type="text/javascript">
     		//Código em jQuery, futuramente vamos mexer mais
			$(document).ready(function() {
     	    	$('select').material_select();
     	 	});
     	</script>
	</head>
 	<body>
 	
 		<form action="/DW20172_NazareGuedert/ServletTelaCadastroCatador">
		<header>
			<div class="page-header orange">
			    <div class="col s10 l10 s10">
                <h5 class="white-text">Cadastro</h5>
              </div>
			</div>
		</header>
		
		
		<div class="row">
			<div class="col s10 l10 s10">
				<div class="card green lighten-4">
					<span class="card-title">Informações Pessoais</span><br>
	        		
						<div class="input-field col s6">
       					   	<input id="nome" type="text" class="validate">
          					<label for="nome">Nome</label>
        				</div>
        				
        				<div class="input-field col s6">
       					   	<input id="telefone" type="text" class="validate">
          					<label for="telefone">Telefone</label>
        				</div>
        				
        				<div class="input-field col s6">
       					   	<input id="email" type="text" class="validate" onblur="validacaoEmail" >
          					<label for="email">E-mail</label>
        				</div>
					</div>		
				</div>
			</div>
				
		<button class="btn waves-effect waves-light" type="submit" name="action">Enviar
    <i class="material-icons right">send</i>
  </button><br><br>
				
		<footer>
			<div class="page-footer light-blue darken-4">
			    <div class="col s10 l10 s10">
                	<h5 class="center-align white-text">ReciclAPP</h5>
            	</div>
				<div class="footer-copyright light-black darken-4">
					© 2017 ReciclAPP
				</div>
			</div>
		</footer>
		</form>
	</body>
</html>