<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Pagina Inicial - Exercício 2 - Lista 2</title>

<!-- Importações do Materialize -->
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">

<!-- Importação de jQuery (biblioteca javascript) -->
<script type="text/javascript"
	src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>

<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">

<script type="text/javascript">
	     	$(document).ready(function(){
	      $('.parallax').parallax();
	    });
	     	$(document).ready(function(){
	     	      $('.slider').slider();
	     	    });
	</script>
</head>

<body>

	<nav>
		<div class="nav-wrapper teal darken-4">
			<a href="#" class="brand-logo right">ReciclAPP</a>
			<ul id="nav-mobile" class="left hide-on-med-and-down">
				<li><a href="sass.html">Produto</a></li>
				<li><a href="badges.html">Quem Somos</a></li>
				<li><a href="collapsible.html">Recursos</a></li>
			</ul>
		</div>
	</nav>

	<div class="parallax-container">
		<div class="parallax">
			<img
				src="https://lh3.googleusercontent.com/f3T3BAHTL67s2a9I7mZBOHC3tLnDlRjQl3M93gwkPIq9gWfLZun8PV3gp7kZPOYcp3UakR3shqTNXIM0icu32PMh25tUukB3GhM0G8sKgO9YjA6tKvbrKh3VWq4LqdGg8u5p15V27ONVAxarxUzAobJOHSNtxHNdb7zvoxASw_hX5ovge85cjjd8kz0oejrzWsuD81dJzN7tS6X0GHrl3bmFlPdmbRSbcJ5SN4HvuYXb9Zg6_Rh27Uvc6wkw8IfSo3f9MxRKREwghHUwcdRFQhIyQ_r2cuRoHuf1NT-KGsWJLp81vVw-dXd_PbR0NxgCaisukp_92WVnbU28X6HDpYNoUReSlELJzhyiXW-DF2f7PdN9MzqHhOcJM899QaFz3bguQA0M-g34VDLwtmDTPtSlp7bG9kqWfNnZvir3-LzpSVs6B3Gwx3wX0sWgUjNB8OQbNpIKc98vLToSZbjHqvnE57GzrOBHWuOtdQvdWS_9PnONkE9ebPmeEErzcfFZAnagZhwj37B7RX2JajkcPKbjEaXv5d59tX9iJBhCkK0WhzawJ-GpGJZ6P8obtZXRhb4k0Ao1rP1cqKODdepaEGdRf1TneM58RsylLO2GH9pggZSRMHDl-Q=w1492-h1119-no">
		</div>
	</div>

	<div class="section white">
		<div class="row container">
			<h2 class="header">ReciclAPP</h2>
			<p class="grey-text text-darken-3 lighten-3">ReciclAPP torna o
				mundo orientado a sustentabilidade e a formação de cultura
				direcionada aos bons custumes e uma sociedade mais preucupada com o
				presente...</p>
		</div>
	</div>
	<div class="parallax-container">
		<div class="parallax">
			<img src="https://lh3.googleusercontent.com/U7kLJbS8E2Zvnx-WJ27htqSUJU6m9KL9ZpebwQiL1etoUVraat20ss0Nk2uPiUP3AY9bF5SoX4mMabIlNkR2zpBaWWe173bcpUbEbYAdAhJaVVtsoKfPfW8EpprBTdPIk_o4GGbC7EBoUbGf0FXtR3X0b50q62bkcFjxpGpK8JNYHvjkMWfodpK-fkHwVz04aAyUAK9fmOtQ2FjcF44ofhZUjb735XMGaPN7iqwZVEyxFhvzVBz4pBKxJSy7KRdaGa_tg29iUHQYy7wlR9R07NU9AMoqaYu0Nwj40ftNdt3S12AJvqOtNi4Ne-aURzYoYICCZzjpLQmraAzIv5mLEvf2TcSh8L-Yj8kV3k4oprc1CcAt76-idSO1u-Fy-MTVt7i3JW1nDCur0shaDMMmfrhLb59OFeL8rIza_2Zl-2cXLAHEQ6EXgklngP5o-LBZ0mJfbl-NPCmNRSQZ_NKlvpYoEcEUj1rNAWUQhSosoci6n4CoTFGJ0kK7E2j1dOquS3WNA02DsFib-_6eUNVcJOy3pAUE2XiePDuM4ntYU7U1ohzQ6VUQXmF68cEeyMFzDMuAiWVT07SRfaWyWpq1-l2WRaOkpAkvaodva_GfLwrXpFXNhmoMww=w1492-h1119-no">
		</div>
	</div>

	<footer class="page-footer teal darken-4">
		<div class="container">
			<div class="row">
				<div class="col l6 s6 m6">
				<div class="slider">
				<ul class="slides">
					<li><img width="50"	src="https://lh3.googleusercontent.com/D4d0RX3w--oA4lrWNbCFft1Uwx1PjrEciiuYVcBn69HaUS0fwU8X0Z2Ww-lXf9rR983SZuJBrUTAnw90zL32d8ukWN2Jn9dC-JcWpRW3bHurbQxEMCibgnrRTDwHPHS1zrYsklwgd_Q1naBsD5OXzIsjkC4SApcucKyh3Tmu6e-yyq9DyxKDX8MfFNX2eN2ElUwgDtXiODPcAOADrwu9Q38l5dQYf0POu2t6BJa8jwV-gkvs87ZLaFD0ofazKuR1t5PflNkp_cFkcihwL4WNuAzEzwk4p996FgyhmGSz8_VKBJsW6SQoKWwWFrGc_yWXfpaesNT45mOda5JHKk4wFBOj8EYaC8rXa3NCdaSxuQfROS2P8Yx-uGYShAPTbPoY0OJDGs0634FS7E_-nctjfl2jPkS7eIc7SoR7Tt_QJ-Piq0pmtV6yJsTR6b3OFlcSYIk1oY6PZ0TLZhj7l0ks6Zo0j23uh9tCXpxHzayr37PF_cj4l3Hs-nCOueiFPamBIMu5EFpJqEnOOzgfuupsc62ACy7ekg_dOI4zK5NQY0-PSDLjDiOP1gmkQvVZrFRT73KriHXJpcNRK23pailMYOSmgVokRY6ZCtxvYFumNrxEvbRx4MutVA=w276-h207-no">
						<!-- random image -->
						<div class="caption center-align">
							<h3>This is our big Tagline!</h3>
							<h5 class="light grey-text text-lighten-3">Here's our small
								slogan.</h5>
						</div></li>
					<li><img src="https://lh3.googleusercontent.com/nMZecTAu7R3IDObWGeHtmT6egomGPCubBjxUUIjwQUVl3zIqHACc1vo6Do7dWjj0DwCs-UlTwOomyGCC-rlGP-Zz0NgJsS7ZIFs1qnaG6UsItErc_NQm5puDm9HwqqdboCNS2GS-hwjsgPuc0SNV-AvRWzXxFpSzbaB4rZI7KEmRSc_9ExyY7ByTNvrmvJzdakwQjKlMsbbhy18rgeRA8ofuWTPc-rkZQS6jDNbod7ZLcriXaq5yQWXF4wXK0iIqLJl1tcUKiOHyJ8K5xpBfeS0vGYrQosC1t1DGLUDCEgENoyQB6EnxaFMle_AHNnMUd0fHo07aQNogaOR75SN7y2vesa-GoBOORv-Ij5LLpN0ffvr2ObVs1J1mN09TKd8u6a8P__u5NQ1yasYSgip0Xb8op62fxv5j_d14IYc8IYBW8npy_txUSBr6DtiIx-DU1HmxINxVLWZl_jGq06gzFs843pdlABFHepQT0HrbtdZbkyV2oeUSEz1dLVX-RB_X5O5i9NvH7u_aYU30ncPxaZfDBBdZzfpAtkD6MgyWQssJMhQTDEsOfeIff0K7yZE66hQFcyuMeHS2vVWJPixBtUD9dq6loKBxeZnMLiCoqqzDTxbxPe9evw=w1492-h1119-no"> <!-- random image -->
						<div class="caption left-align">
							<h3>Left Aligned Caption</h3>
							<h5 class="light grey-text text-lighten-3">Here's our small
								slogan.</h5>
						</div></li>
					<li><img src="https://lh3.googleusercontent.com/mpjtsJ5J_SWVRoEnG9NSX8gIYOO3zbfa14-cwlDtjaKuQl6ZJ1CMn9B9D6RaNjXxs7TjlfVchFpzywJiclzZ-f0XnqB8V9YDV8Dj420TES0_nU77SGVQ9ZHr_p9dMwfJJ5deRPhBFFVRY_nW0t8aD06Io6scL2TEyFLNSTQDhDwnWzyHrdb9iGpaw_p3I_saXtc3ybJXFGXBOHQnEmyWRWTrFN9rh0ln0auRIxmpUXULyQUpTzrcy1pLJYVB-LtA5R44lrejwa3eU7mhDJB6VxH5BTXFzfVavftvLyBQ4zYzyx91_Fovf8du6E4v1aWQeVm_yo2I0Erw0jNUfNgYl53p7hq7VyPGJqDhE4M2tbsV0F1Y_FWZu8gwGJFIJV5bWyzMZgUkb_64lkVWbqyQY1pBEhHknsIK0e-yLlrXOuA4VQvElYXPhIkjvDrHHbFsebCk5Ns-Vr00zkfgkUCbXjk4_l3RSFxAaViy-dgvVbAEYPyLrEoYsYJJ5uQeFEuwcBnXaqR9V_KF2mf2KjToG4fCt-HG1KsSUzU0cr9QLGP1_l1LHqK9isCy3XeFWLQus5rNTCipXT5oYmQ4hkI-V77ri_-XVb7Py7Z1Efph3wPdNEyw9pz1CA=w1492-h1119-no">
						<!-- random image -->
						<div class="caption right-align">
							<h3>Right Aligned Caption</h3>
							<h5 class="light grey-text text-lighten-3">Here's our small
								slogan.</h5>
						</div></li>
					<li><img src="https://lh3.googleusercontent.com/wKgp_OKk5XaKLxfV1hbGmOboAlWsTmmBPT14yaoCkLUz0tPIZhf7eVqroCIsmyGsVQ1mKJ8Ok54U-7U-Ir8NERBmT9MbEWoIUkguHViWJAKyY4BqC67b4uiNj5qGQcgCD4qH6MX3OzF-f7Ze2uqI_NSViLZF6kez2ukE_Nmh5CddF2NgVo3_1LdYaV3ObkAztn3pnu1LWY2yy-POpVqtxTprW3FirmMyr-aUUXpVyFNfnfwI_t1AJhJgynOeBThRFSJQ9TyWUdqmU8EBYoHP5uOQOWsM6mSq1HBiiVMgJJYnqDoI4-pVMvJHmP25XfVCW35McGynLq2gYsrDwmzAJ-IfG_oSyFc1QsWzZBH6ZvdR3vmDtbbqxiNpdFql8HbuXfmSxiqAOfpY4Ka4h3cwZrQLWyR_wLNw4Nu6BfKrQ6_uAqivYG4ifji9K52jNOVTz0FvnX6Hh71aXVT1rn7xvcVVuRpwUTpofzBeo-1B-qc1CsrzUpq4pz84l39wqNYih1SKk6OHfGwSD3Icf4pGWtLIMP1LIiDa9jMwGgqNG0l9OzxYdE8b8JoVgZ7bN8bZrD5vrNNZG97_7aOSjNkPJOO9kJHTsfAUsVMKK7v2DGvjM-ha0nrrSQ=w1492-h1119-no">
						<!-- random image -->
						<div class="caption center-align">
							<h3>This is our big Tagline!</h3>
							<h5 class="light grey-text text-lighten-3">Here's our small
								slogan.</h5>
						</div></li>
				</ul>
			</div>
			</div>
			</div>
			</div>
			<div class="right">	
					<h5 class="white-text">ReciclAPP</h5>
					<p class="grey-text text-lighten-4">Você ainda mais presente em
						um mundo de boas relações.</p>
				
				
			</div>
		<div class="footer-copyright right">
			<div class="container">
				<a href="https://lh3.googleusercontent.com/fh9aJ0ziiQ7EzIyZ7zAnUMcN9VGJfpony9e84ManPVLUKO-kf866XMKK0QeJrOSgU4_wQkhPHMmv5mjczOxPTVTU_u08sFVNIO6ZVnKGkmhpCYpGCc9Q98UegDyIw0H596iC5EbGw9GVfZLyHN7LCWJMpNYUQYPtzaw9kl64piaAQuk8iZv0W4-jLjI2djc4g1FHIdBgbaBnKt4eQQOMHsK7Prg90qiOHyQLFShunnWaxlAH4afDLHZVfW45MIUUZAdym0r8qSeh3uFZS5h5_eqpioPRx9ILc8MTkW0agEHsrP1XYjRx3PcZJKLCLagTIm1barYe212UbttOBlMN3mJxrfl3BNjfJCpSo5xtr0qo7SRFeXm0_FUCsfGZEh_VewbuaxMW-RCgMCqbBLCDLFhW3qhvTlFk1P989VgmwnBKWlKfN3H7VYu0JUHmhaH9pLAP19cbNgwuqAU35sQZVGMaMM2CkEPUJrjTrXX7eG-JrgJC0BWAY6dNyUqZgJgccv-pOP7UYfO2opoTvnaSw5zAukOMJ8mez9dDmRxCFU9M1vMKXuqjcHy5vhvUkh4IgxNQFXA7WjEs7Zt1AZkCQ_pOcIu8cYZTZWs6NZ3K9sXue5Xg-4vHWQ=w1492-h1119-no"
					class="btn"	onclick="https://lh3.googleusercontent.com/fh9aJ0ziiQ7EzIyZ7zAnUMcN9VGJfpony9e84ManPVLUKO-kf866XMKK0QeJrOSgU4_wQkhPHMmv5mjczOxPTVTU_u08sFVNIO6ZVnKGkmhpCYpGCc9Q98UegDyIw0H596iC5EbGw9GVfZLyHN7LCWJMpNYUQYPtzaw9kl64piaAQuk8iZv0W4-jLjI2djc4g1FHIdBgbaBnKt4eQQOMHsK7Prg90qiOHyQLFShunnWaxlAH4afDLHZVfW45MIUUZAdym0r8qSeh3uFZS5h5_eqpioPRx9ILc8MTkW0agEHsrP1XYjRx3PcZJKLCLagTIm1barYe212UbttOBlMN3mJxrfl3BNjfJCpSo5xtr0qo7SRFeXm0_FUCsfGZEh_VewbuaxMW-RCgMCqbBLCDLFhW3qhvTlFk1P989VgmwnBKWlKfN3H7VYu0JUHmhaH9pLAP19cbNgwuqAU35sQZVGMaMM2CkEPUJrjTrXX7eG-JrgJC0BWAY6dNyUqZgJgccv-pOP7UYfO2opoTvnaSw5zAukOMJ8mez9dDmRxCFU9M1vMKXuqjcHy5vhvUkh4IgxNQFXA7WjEs7Zt1AZkCQ_pOcIu8cYZTZWs6NZ3K9sXue5Xg-4vHWQ=w1492-h1119-no">Click
					aqui!</a><a
					class="grey-text text-lighten-4 right" href="#!"></a>
			</div>
		</div>
	</footer>

</body>
</html>