<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>rex</display-name>
	<welcome-file-list>
		<welcome-file>index.xhtml</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>

	<context-param>
		<param-name>javax.faces.FACELETS_REFRESM_PERIOD</param-name>
		<param-value>O</param-value>
	</context-param>

	<context-param>
		<param-name>javax.faces.DATATIMECONVERTER_DEFAULT_TIMEZONE_IS_SISTEM_TIMEZONE</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
		<param-name>javax.faces.PARTIAL_STATE_SAVING</param-name>
		<param-value>true</param-value>
	</context-param>


	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>

	<listener>
		<listener-class>org.jboss.weld.environment.servlet.Listener</listener-class>
	</listener>

	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>



	<error-page>
		<error-code>404</error-code>
		<location>/error-page-[code-404].xhtml</location>
	</error-page>
	<error-page>
		<error-code>405</error-code>
		<location>/error-page-[code-405].xhtml</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.NullPointerException</exception-type>
		<location>/error-page-[NullPointer].xhtml</location>
	</error-page>
	<error-page>
		<exception-type>javax.servlet.ServletException</exception-type>
		<location>/rex/error-page-[ServletException]</location>
	</error-page>






	<!-- Configuração de um Filtro para URLs -->
	<filter>
		<filter-name>IndexFiltro</filter-name>
		<filter-class>br.sc.senac.dw.rex.IndexFiltro</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>IndexFiltro</filter-name>
		<url-pattern>/index.xhtml</url-pattern>
	</filter-mapping>


<!-- Upload de imagens -->
	<filter>
		<filter-name>PrimeFaces FileUploadFilter</filter-name>

		<filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>PrimeFaces FileUploadFilter</filter-name>
		<servlet-name>FacesServlet</servlet-name>
	</filter-mapping>

</web-app>